@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Courgette&family=Montserrat:wght@300&family=Nunito+Sans:ital@1&family=Poppins:wght@500&family=Raleway:wght@600&family=Roboto&display=swap");

:root {
  --mont: "Montserrat";
  --barlow: "Barlow Condensed";
  --poppins: "Poppins";
  --raleway: "Raleway";
  --roboto: "Roboto";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.App {
  font-family: var(--mont);
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  /* display: none; */
}

.nav {
  border-bottom: 1px solid rgba(128, 128, 128, 0.212);
  font-family: var(--raleway);
  width: 100%;
  min-width: fit-content;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
  padding: 1.4rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
  /* -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 16px 0px; */
}

.navleft {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

.navright {
  display: none;
}

.menu_icon {
  height: 2rem;
  width: 2rem;
  margin-right: 0.8rem;
  display: block;
}

@media (min-width: 1024px) {
  .nav {
    align-items: center;
    padding: 1.4rem 3rem;
  }
  .navright {
    display: flex;
  }
  .menu_icon {
    display: none;
  }
}

.nav_logo {
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  margin-right: 1.5rem;
  font-family: var(--mont);
}

.nav_logo span {
  padding: 0.3rem 0.5rem;
  margin-left: 0.4rem;
  border-radius: 8px;
  color: #67beff;
  background-color: #e7e7e770;
}

.navlink {
  cursor: pointer;
}

.navlink:hover {
  color: rgb(85, 85, 85);
}

.socials {
  display: flex;
  gap: 24px;
}

.socials svg {
  opacity: 70%;
}

.socials svg:hover {
  opacity: 100%;
}

.sidebar_main {
  display: flex;
  justify-content: center;
  align-items: start;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .main {
    margin-left: 18rem;
  }
}

.main_content {
  height: 100%;
  width: 100%;
}

.docs {
  display: flex;
  justify-content: center;
  align-items: start;
  height: inherit;
  min-height: calc(100vh - 12rem);
  margin: 3rem 0;
  gap: 20px;
}

.docs-nav {
  display: none;
  flex-direction: column;
  align-items: start;
  border-right: 1px solid rgba(128, 128, 128, 0.212);
  font-family: var(--raleway);
  letter-spacing: 1px;
  padding: 1.8rem 1rem;
  width: 18rem;
  gap: 20px;
  background-color: #ffffff;
  position: fixed;
  top: 1;
  left: 0;
  height: 100%;
  z-index: 998;
}

@media (min-width: 1024px) {
  .docs-nav {
    display: flex;
  }
}

.docs-nav p {
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
  align-items: center;
  width: 100%;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  background-color: #f0f0f0ab;
}

.docs-nav p:hover {
  background-color: #eeedeb;
}

.list {
  display: flex;
  color: rgba(0, 0, 0, 0.521);
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  margin: 0 0 0 1rem;
}

.list li {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style-type: none;
  width: 100%;
  border-radius: 10px;
  padding: 0.6rem 2.4rem 0.6rem 1.5rem;
}

.list li:hover {
  background-color: #eeedeb;
  cursor: pointer;
}

.docs-main {
  text-align: left;
  width: 80%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.docs-main::-webkit-scrollbar {
  display: none;
}

.docs-main h1 {
  margin: 0 0 0 0;
  font-family: var(--poppins);
  font-size: 2.8rem;
  letter-spacing: 1px;
}

.desc {
  font-size: 20px;
  padding: 1rem 0 1rem 0;
  margin: 0 0 1rem 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.212);
}

.docs-main p {
  font-size: 18px;
  font-family: var(--roboto);
  line-height: 30px;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 52px;
  align-items: center;
  color: rgba(226, 226, 226, 0.767);
  font-family: var(--roboto);
  margin-top: 4rem;
  height: 12rem;
  background-color: black;
  letter-spacing: 0.8px;
  position: relative;
  bottom: 0;
}

.footer .socials {
  margin-top: 1rem;
  display: flex;
  gap: 42px;
}

.footer p {
  margin-top: 0.5rem;
  color: #2b80e2;
  font-size: 1.4rem;
  font-weight: 600;
}

.footer a {
  padding: 0.5rem;
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #0b76f1;
}

.nondesktop {
  height: 100vh;
  display: block;
}

@media (min-width: 1280px) {
  .nondesktop {
    display: none;
  }
}

.nondesktop .container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.nondesktop .message {
  max-width: 28rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem;
  background: #0f0f0f;
  box-shadow: 1px 1px 20px 0px #2d3748;
  border-radius: 0.375rem;
  color: #fff;
}

.nondesktop .message .icon {
  height: 2.5rem;
  width: 2.5rem;
  background-color: transparent;
  margin-bottom: 1rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.nondesktop .message .heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: var(--roboto);
}

.nondesktop .message .guideline {
  font-size: 1.125rem;
  margin-bottom: 1rem;
  color: #d4dae4;
  font-family: var(--poppins);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
