@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Courgette&family=Montserrat:wght@300&family=Nunito+Sans:ital@1&family=Poppins:wght@500&family=Raleway:wght@600&family=Roboto&display=swap");

:root {
  --mont: "Montserrat";
  --barlow: "Barlow Condensed";
  --poppins: "Poppins";
  --raleway: "Raleway";
  --roboto: "Roboto";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.App {
  font-family: var(--mont);
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.nav {
  border-bottom: 1px solid rgba(128, 128, 128, 0.212);
  font-family: var(--raleway);
  font-size: 1.9vh;
  letter-spacing: 0.8px;
  width: 100%;
  padding: 24px 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: sticky;
  top: 0;
  z-index: 999;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 16px 0px;
}

.navleft {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.navright {
  display: flex;
}

.nav_logo {
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 2.2rem;
}

.nav_logo span {
  padding: 4px 8px;
  margin-left: 6px;
  border-radius: 8px;
  color: #67beff;
  background-color: #e7e7e770;
}

.navlink {
  cursor: pointer;
}

.navlink:hover {
  color: rgb(85, 85, 85);
}

.socials {
  display: flex;
  gap: 24px;
}

.socials svg {
  opacity: 70%;
}

.socials svg:hover {
  opacity: 100%;
}

.main {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.docs {
  display: flex;
  height: inherit;
  margin: 3rem 0;
  gap: 20px;
  justify-content: center;
}

.docs-nav {
  font-family: var(--raleway);
  display: flex;
  align-items: start;
  gap: 16px;
  flex-direction: column;
  padding: 0 4rem;
  letter-spacing: 1px;
}

.docs-nav p {
  padding: 4px 0;
}

.list {
  display: flex;
  color: rgba(0, 0, 0, 0.521);
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  margin: 0 0 0 52px;
}

.list div:hover {
  color: rgb(85, 85, 85);
}

.docs-nav div {
  cursor: pointer;
}

.docs-main {
  text-align: left;
  width: 60%;
  height: inherit;
  padding: 0 16vh 0 0;
}

.docs-main::-webkit-scrollbar {
  display: none;
}

.docs-main h1 {
  margin: 0 0 0 0;
  font-family: var(--poppins);
  font-size: 2.8rem;
  letter-spacing: 1px;
}

.desc {
  font-size: 20px;
  padding: 1rem 0 1rem 0;
  margin: 0 0 1rem 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.212);
}

.docs-main p {
  font-size: 18px;
  font-family: var(--roboto);
  line-height: 30px;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 52px;
  align-items: center;
  color: rgba(226, 226, 226, 0.767);
  font-family: var(--raleway);
  margin-top: 4rem;
  height: 12rem;
  background-color: black;
}

.footer .socials {
  margin-top: 1rem;
  display: flex;
  gap: 42px;
}

.footer p {
  font-family: var(--roboto);
  margin-top: 0.5rem;
  color: #2b80e2;
  font-size: 1.4rem;
  font-weight: 600;
}

.footer a {
  padding: 0.5rem;
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #0b76f1;
}
