.introduction_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.introduction_logo {
  font-size: 18px;
  margin-left: 5px;
  letter-spacing: 0.8px;
}

.introduction_logo span {
  padding: 4px 8px;
  margin-left: 4px;
  border-radius: 6px;
  color: #67beff;
  background-color: aliceblue;
}

.para_style {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #67beff;
  text-decoration-thickness: 2px;
}
