.home_main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  margin: 2rem;
  border-radius: 18px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(97, 186, 255, 1) 0%,
    rgba(166, 239, 253, 1) 90.1%
  );
  overflow-y: auto;
  overflow: hidden;
}

.home_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2.5rem;
  padding: 0rem 0;
  margin: 0 5rem;
}

.home_right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 3.5rem;
  padding: 3rem 0;
}

@media (min-width: 1280px) {
  .home_main {
    flex-direction: row;
    margin: 4.7rem;
  }
  .home_right {
    margin: 4rem 0rem;
  }
}

.home_logo {
  text-align: left;
  font-size: 4.4rem;
  font-weight: bold;
  line-height: 5rem;
  letter-spacing: 0.8px;
}

.home_logo span {
  padding: 0 8px;
  margin-left: 12px;
  border-radius: 20px;
  color: #67beff;
  background-color: aliceblue;
}

.home_label {
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
  letter-spacing: 0.5px;
  font-family: var(--poppins);
}

.home_desc {
  display: none;
  text-align: left;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-family: var(--poppins);
}

@media (min-width: 640px) {
  .home_label {
    font-size: 3.9rem;
    line-height: 5rem;
  }

  .home_desc{
    display: flex;
  }
}

.home_buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.btn_getstarted {
  gap: 0.5rem;
  width: fit-content;
  padding: 1rem 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: rgba(59, 59, 59, 0.24) 0px 3px 8px;
  font-family: var(--roboto);
  border-radius: 2rem;
  background-color: #338df3;
  color: white;
  font-family: var(--poppins);
}

.btn_getstarted:hover {
  opacity: 0.8;
}

.btn_github {
  text-decoration: none;
  gap: 1rem;
  width: fit-content;
  padding: 1rem 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: rgba(59, 59, 59, 0.24) 0px 3px 8px;
  font-family: var(--roboto);
  border-radius: 1rem;
  background-color: white;
  color: #000000;
  font-family: var(--poppins);
}

.btn_github:hover {
  opacity: 0.8;
}

.home_icon {
  height: 2rem;
  width: 2rem;
}
