.card {
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  font-family: var(--raleway);
}

.card_heading_text {
  font-size: 18px;
  margin-bottom: 1.2rem;
  letter-spacing: 1.2px;
}

.card_box {
  border: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  align-items: end;
  gap: 3rem;
  flex-wrap: wrap;
  max-width: fit-content;
  overflow-y: auto;
}

.card_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.card_wrapper p {
  font-size: 14px;
  padding: 0px 8px;
  border-radius: 8px;
  background-color: rgb(224, 224, 224);
  font-family: var(--raleway);
  letter-spacing: 1px;
  font-weight: bold;
}

.card_img {
  height: inherit;
  width: inherit;
  border-radius: inherit;
}

/* Card Sizes */

.card_size_small {
  height: 10rem;
  width: 10rem;
  background-color: white;
  box-shadow: rgba(187, 187, 187, 0.24) 0px 3px 8px;
}

.card_size_medium {
  height: 12rem;
  width: 16rem;
  background-color: white;
  box-shadow: rgba(187, 187, 187, 0.24) 0px 3px 8px;
}

.card_size_large {
  height: 16rem;
  width: 22rem;
  background-color: white;
  box-shadow: rgba(187, 187, 187, 0.24) 0px 3px 8px;
}

/* Card Radius */

.card_radius_small {
  border-radius: 0.3rem;
}

.card_radius_medium {
  border-radius: 1rem;
}

.card_radius_large {
  border-radius: 1.8rem;
}

/* Cards with Badges */

.icon-badge {
  position: relative;
  display: inline-block;

  &:before {
    content: "";
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
    background-color: rgb(110, 110, 110);
    opacity: 0.3;
    cursor: pointer;
  }
}

.card_icon_style {
  position: absolute;
  top: 1rem;
  right: 0.9rem;
  width: 1.2rem;
  height: 1.2rem;
  color: black;
  cursor: pointer;
}

.card_icon_style:hover {
  color: rgb(250, 61, 61);
}

.label-badge {
  position: relative;
  display: inline-block;

  &:before {
    content: "On Sale";
    position: absolute;
    top: 0.6rem;
    left: 0.8rem;
    height: 22px;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 0.4rem;
    border: 2px solid #fff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: rgb(250, 61, 61);
  }
}

.card_label {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  background-color: #f8f8f870;
}

.card_label p {
  font-size: 15px;
  padding: 4px 20px;
  background: transparent;
}

/* Cards with Dismiss */

.card_dismiss {
  position: relative;
  display: inline-block;
}

.dismiss_wrapper {
  content: "";
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgba(110, 110, 110, 0.329);
  cursor: pointer;
}

.dismiss_icon {
  width: 1.2rem;
  height: 1.2rem;
  color: black;
  cursor: pointer;
}

.dismiss_icon:hover {
  color: rgb(250, 61, 61);
}

/* Cards with Text Overlay */

.card_text_overlay {
  position: relative;
  display: inline-block;
}

/* Text Only Cards */

.card_text_only {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
  justify-content: center;
  padding: 15px;
  color: white;
}

.card_text_only button {
  background: none;
  border: none;
  background-color: #ffffff;
  margin: auto;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.card_text_only button:hover {
  background-color: #f0f0f0;
}

/* Vertical Card */

.card_vertical {
  height: 24rem;
  width: 20rem;
  background-color: white;
  box-shadow: rgba(187, 187, 187, 0.24) 0px 3px 8px;
}

.card_vertical_sample {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.card_vertical_sample img {
  height: 13rem;
  width: 100%;
}

.details {
  margin: 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.rating {
  background: transparent;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buynow {
  background: none;
  border: none;
  background-color: orange;
  border-radius: 5px;
  margin: auto;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.cart {
  background: none;
  border: none;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.wishlist {
  background: none;
  border: none;
  color: red;
  border: 1px solid gray;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

/* Horizontal Card */

.card_horizontal {
  height: 12rem;
  width: 31rem;
  background-color: white;
  box-shadow: rgba(187, 187, 187, 0.24) 0px 3px 8px;
}

.card_horizontal_sample {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 15px;
}

.img_rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.img_rating img {
  height: 10rem;
  width: 100%;
  border-radius: 0.5rem;
}

/* Cards with shadow */

.card_shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
